@import url('https://fonts.googleapis.com/css2?family=SF+Pro:ital,wght@0,400;0,500;0,600;0,700&display=swap');

.frameParent {
  	width: 100%;
  	position: relative;
  	border-radius: 12px;
  	background-color: #fff;
  	border: 1px solid #ececed;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 20px 28px;
  	gap: 36px;
  	text-align: left;
  	font-size: 20px;
  	color: #000;
  	font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.frameGroup {
  	width: 100%;
  	max-width: 727px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 32px;
}
.frameContainer {
  	width: 100%;
  	border-radius: 12px;
  	background-color: #fff;
  	border: 1px solid #ececed;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 20px 28px;
  	gap: 28px;
}
.kateqoriyaSeimiParent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.kateqoriyaSeimi {
  	position: relative;
  	line-height: 30px;
  	font-weight: 600;
  	flex-shrink: 0;
}
.component42Parent {
  	align-self: stretch;
  	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	gap: 24px;
  	flex-shrink: 0;
  	font-size: 16px;
}
.component42 {
  	height: 48px;
  	width: 180px;
  	border-radius: 32px;
  	background-color: #00b4cc;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 28px;
  	box-sizing: border-box;
  	gap: 4px;
    font-weight: 500;
    color: #fff;
}
.div {
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
  	display: none;
}
.fitness {
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
  	color: #fff;
}
.arrowdown {
  	height: 16px;
  	width: 16px;
  	position: relative;
  	display: none;
}
.component422 {
  	height: 48px;
  	width: 180px;
  	border-radius: 32px;
  	border: 1px solid #00b4cc;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 28px;
  	gap: 4px;
    font-weight: 500;
    color: #00b4cc;
}
.yoga {
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
}
.zalaAidOlanAbunliklrWrapper {
  	align-self: stretch;
  	border-bottom: 1px solid #ececed;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 0px 4px;
}
.zalaAidOlan {
  	position: relative;
  	line-height: 30px;
  	font-weight: 600;
}
.component20Parent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 12px;
  	color: #fff;
}
.component20 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 32px;
  	background: linear-gradient(111.92deg, rgba(216, 166, 115, 0.4), #b97a3c 99.99%);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
    height: 58px;
    cursor: pointer;
}
.square {
  	height: 24px;
  	width: 24px;
  	position: relative;
}
.square2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.vectorIcon {
  	position: absolute;
  	height: 75%;
  	width: 100%;
  	top: 12.5%;
  	right: 12.5%;
  	bottom: 12.5%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.bronze {
  	position: relative;
  	line-height: 30px;
}
.component202 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 32px;
  	background: linear-gradient(106.25deg, rgba(229, 232, 236, 0.4), #9baac7);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
    height: 58px;
    cursor: pointer;
}
.component203 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 32px;
  	background: linear-gradient(104.88deg, rgba(231, 183, 95, 0.4), #f8d57e);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
    height: 58px;
    cursor: pointer;
}
.component204 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 32px;
  	background: linear-gradient(99.99deg, #313131, #515254 40.45%, #5b5b5d 55.32%, #565857);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
    height: 58px;
    cursor: pointer;
}
.frameDiv {
  	align-self: stretch;
  	border-radius: 12px;
  	background-color: #fff;
  	border: 1px solid #ececed;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 20px 28px;
  	gap: 28px;
}
.giriQiymtiParent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 12px;
  	font-size: 16px;
}
.giriQiymti2 {
  	align-self: stretch;
  	position: relative;
  	line-height: 24px;
}
.frameWrapper {
  	align-self: stretch;
  	height: 52px;
  	border-radius: 12px;
  	background-color: #fafafa;
  	border: 1px solid #ececed;
  	display: flex;
  	align-items: center;
  	padding: 0px 12px;
  	text-align: center;
  	font-size: 18px;
}
.wrapper {
  	height: 28px;
  	width: 36px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.div2 {
  	position: relative;
  	line-height: 28px;
}
.frameParent2 {
  	align-self: stretch;
  	border-radius: 12px;
  	background-color: #fff;
  	border: 1px solid #ececed;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 20px 28px;
  	gap: 32px;
}
.platiniumPaketDaxilOlanXiParent {
  	align-self: stretch;
  	border-bottom: 1px solid #ececed;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 0px 4px;
  	gap: 20px;
}
.searchInput {
  	height: 48px;
  	width: 193px;
  	border-radius: 12px;
  	background-color: #00b4cc;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	padding: 6px 12px 6px 24px;
  	box-sizing: border-box;
  	gap: 12px;
  	font-size: 16px;
  	color: #fafafa;
    cursor: pointer;
}
.xidmtLavEt {
  	position: relative;
  	line-height: 24px;
}
.vuesaxlinearaddIcon {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.frameParent3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 20px;
  	font-size: 16px;
}
.xidmetParent {
  	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	gap: 20px;
}
.xidmet {
  	width: 160px;
  	border-radius: 8px;
  	background-color: rgba(0, 180, 204, 0.04);
  	border: 1px solid #00b4cc;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 20px 12px;
}
.frameParent4 {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
  	max-width: 100%;
}
.textWrapper {
  	display: flex;
  	align-items: center;
}
.xidmet3 {
  	width: 160px;
  	border-radius: 8px;
  	background-color: #fafafa;
  	border: 1px solid #ececed;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	padding: 20px 12px;
}
.frameParent6 {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.xidmetGroup {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.xidmet6 {
  	width: 160px;
  	border-radius: 8px;
  	background-color: #fafafa;
  	border: 1px solid #ececed;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	padding: 20px 12px;
}
.buttonParent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	gap: 20px;
  	text-align: center;
  	font-size: 16px;
}
.button {
  	height: 48px;
  	width: 280px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid #00b4cc;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    color: #00b4cc;
}
.button2 {
  	height: 48px;
  	width: 280px;
  	border-radius: 10px;
  	background-color: #00b4cc;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	box-sizing: border-box;
  	color: #fff;
    cursor: pointer;
    font-weight: 500;
}
